extends ./layout/index

block contenido 
    main.container.mt-5
        .row    
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote  ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, provident illum minus architecto veritatis minima iure fuga, quis molestiae fugiat harum omnis facilis? Sed dolore incidunt rerum aut cumque commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                p Ratione laboriosam impedit perferendis aut! Commodi officiis ad nulla nostrum placeat, ducimus sunt earum sint, a, dolore quod modi nemo voluptatem molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                p dolor sit amet consectetur adipisicing elit. Id, atque eos cum veritatis dolorem cupiditate iste. Possimus vero porro sint inventore temporibus incidunt magnam, in natus debitis illo veritatis omnis

    .listado-iconos     
        .container.mt-5.py-5.text-center    
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Quibusdam molestias esse exercitationem voluptas tempore numquam aliquid quis nesciunt hic magnam, ullam quos vero ipsa aut tempora nulla expedita dolorum! Quas.
                    
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Quibusdam molestias esse exercitationem voluptas tempore numquam aliquid quis nesciunt hic magnam, ullam quos vero ipsa aut tempora nulla expedita dolorum! Quas.

                .col-md-4
                    img(src="img/icono_precio.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Quibusdam molestias esse exercitationem voluptas tempore numquam aliquid quis nesciunt hic magnam, ullam quos vero ipsa aut tempora nulla expedita dolorum! Quas.

